<div class="purch-main" data-ng-init="initPurchase()">
	<section class="payment-section">
		<div class="bill">
			共计:￥{{price}}
		</div>
		<div class="pay-info">
			<span class="pur-name">全本 | 《{{title}}》</span>
			<span class="pur-price">{{price}}</span>
		</div>
		<div class="pay-totle">
			￥{{price}}
		</div>
		<div class="count-info">
			<span>账户:A9080 </span>|
			<span>余额：￥0.00</span>
		</div>
	</section>

	<div class="pay-with-balance">
		余额支付￥0.00
	</div>
	<div class="pay-with-others">
		<span class="pay-tips">其他方式支付 ￥.00</span>
		<div class="alipy-wrap">
				支付宝
		</div>
		<div class="wxpay-wrap">
				微信支付
		</div>
	</div>
	
	<div class="pay-secsecre">
		<label for=""><input class="pru-checkbox" type="checkbox" />购买仅自己可见</label>
	</div>
	
	<div class="illustrate">
		<h3 class="illustrate-title">说明</h3>
		<ul>
			<li>你正在购买豆瓣阅读提供的数字阅读作品</li>
			<li>购买成功后不可退回</li>
			<li>已购买的内容可通过豆瓣账号同步到其他设备上阅读</li>
			<li>如遇到问题，请关注微信服务号「豆瓣阅读服务号」后进行反馈，或致电客服 4008353331（工作日 10:00–18:00）</li>
		</ul>
	</div>
</div>