body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,
dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,
textarea,th,td,img,figure,section,header,nav,footer,b,i,span,html,*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,button,input,select,textarea{
    font-size: 12px;
    color:#333;
    font-family:microsoft yahei,微软雅黑;
}
ul,ol{
    list-style:none;
}
a{
	color:#444;
    text-decoration: none;
}
img{
    border:0px;
}
table{
    border-collapse:collapse;
    border-spacing: 0;
}

.clearfix:after{
    content:".";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}
