<header class="comp_header">

</header>
<ul class="comp_ul">
	<li>
		<div class="solicit">
			公开征稿
			<p class="data">2016.10.16截止</p>
		</div>

	</li>
	<li>
		<div class="Finalists">
			公布入围
			<p class="data">2016.10.17开始</p>
		</div>

	</li>
	<li>
		<div class="voting">
			读者评选
			<p class="data"></p>
		</div>

	</li>
	<li>
		<div class="Result">
			公布结果
			<p class="data"></p>
		</div>

	</li>
</ul>
<ul class="comp_nav">
	<a ui-sref="competition.index" ng-click="trunColor($event)">
		<li id="first_li">首页</li>
	</a>
	<a ui-sref="competition.career" ng-click="trunColor($event)">
		<li>职业</li>
	</a>
	<a ui-sref="competition.comedy" ng-click="trunColor($event)">
		<li>喜剧</li>
	</a>
	<a ui-sref="competition.science" ng-click="trunColor($event)">
		<li>科幻</li>
	</a>
</ul>
<div class="" ui-view="">

</div>