<article class="reader_article">
	前言：为谁而写的专栏</article>
<p class="reader_data">2014-02-12</p>

<div class="Column">
	<div class="column_img">
		<i></i>
		<span>专栏</span>
	</div>
	<div class="column_author">
		<p>你可以拥有你想要的生活</p>
		<p>作者：艾小玛</p>
	</div>
</div>
<div class="contant">
	<p>本届征文大赛设有「职业女性故事」「喜剧故事」「近未来科幻故事」三个组别。每个组别各设：首奖 1 名，奖金 2 万元；优秀奖 3 名，奖金各 1 万元；特别奖 2 名，奖金各 1 万元。豆瓣阅读征文大赛是由豆瓣阅读主办的面向所有人的主题征文活动，旨在选拔优秀的原创中篇作品，目前已举办至第四届。</p>
	<p>本届征文大赛设有「职业女性故事」「喜剧故事」「近未来科幻故事」三个组别。每个组别各设：首奖 1 名，奖金 2 万元；优秀奖 3 名，奖金各 1 万元；特别奖 2 名，奖金各 1 万元。豆瓣阅读征文大赛是由豆瓣阅读主办的面向所有人的主题征文活动，旨在选拔优秀的原创中篇作品，目前已举办至第四届。</p>
	<p>本届征文大赛设有「职业女性故事」「喜剧故事」「近未来科幻故事」三个组别。每个组别各设：首奖 1 名，奖金 2 万元；优秀奖 3 名，奖金各 1 万元；特别奖 2 名，奖金各 1 万元。豆瓣阅读征文大赛是由豆瓣阅读主办的面向所有人的主题征文活动，旨在选拔优秀的原创中篇作品，目前已举办至第四届。</p>
	<p>本届征文大赛设有「职业女性故事」「喜剧故事」「近未来科幻故事」三个组别。每个组别各设：首奖 1 名，奖金 2 万元；优秀奖 3 名，奖金各 1 万元；特别奖 2 名，奖金各 1 万元。豆瓣阅读征文大赛是由豆瓣阅读主办的面向所有人的主题征文活动，旨在选拔优秀的原创中篇作品，目前已举办至第四届。</p>
	<p>本届征文大赛设有「职业女性故事」「喜剧故事」「近未来科幻故事」三个组别。每个组别各设：首奖 1 名，奖金 2 万元；优秀奖 3 名，奖金各 1 万元；特别奖 2 名，奖金各 1 万元。豆瓣阅读征文大赛是由豆瓣阅读主办的面向所有人的主题征文活动，旨在选拔优秀的原创中篇作品，目前已举办至第四届。</p>
	<p>本届征文大赛设有「职业女性故事」「喜剧故事」「近未来科幻故事」三个组别。每个组别各设：首奖 1 名，奖金 2 万元；优秀奖 3 名，奖金各 1 万元；特别奖 2 名，奖金各 1 万元。豆瓣阅读征文大赛是由豆瓣阅读主办的面向所有人的主题征文活动，旨在选拔优秀的原创中篇作品，目前已举办至第四届。</p>
	<p>本届征文大赛设有「职业女性故事」「喜剧故事」「近未来科幻故事」三个组别。每个组别各设：首奖 1 名，奖金 2 万元；优秀奖 3 名，奖金各 1 万元；特别奖 2 名，奖金各 1 万元。豆瓣阅读征文大赛是由豆瓣阅读主办的面向所有人的主题征文活动，旨在选拔优秀的原创中篇作品，目前已举办至第四届。</p>
</div>

<div class="copyright">
	<p>©版权所有，侵权必究</p>
	<p></p>
</div>

<div class="readAndLike">
	<fieldset>
		<legend>211054阅读 · 741喜欢</legend>
	</fieldset>
</div>
<div class="Likes">
	<span class="choicelike"></span>
	<p>喜欢</p>
</div>